**/Properties/Settings.settings
**/.vs/ProjectSettings.json
**/PersonelKayit/v17/ResourceExplorer/settings.json
**/PersonelKayit/PersonelKayit/App.config
PersonelKayit/.vs/
PersonelKayit/PersonelKayit/.vs/
PersonelKayit/PersonelKayit/PersonelKayit/bin/
PersonelKayit/PersonelKayit/PersonelKayit/obj/
PersonelKayit/PersonelKayit/PersonelKayit/App.config
PersonelKayit/PersonelKayit/PersonelKayit/Properties/Resources.resx
PersonelKayit/PersonelKayit/PersonelKayit/Properties/Settings.Designer.cs

