USE [master]
GO
/****** Object:  Database [TFF]    Script Date: 7.12.2024 02:11:06 ******/
CREATE DATABASE [TFF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TFF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TFF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TFF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TFF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TFF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TFF]
GO
/****** Object:  Table [dbo].[Goller]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goller](
	[GolID] [int] NOT NULL,
	[MacID] [int] NOT NULL,
	[OyuncuID] [int] NOT NULL,
	[TakimID] [int] NOT NULL,
	[Dakika] [int] NULL,
	[KendiKalesineGol] [bit] NULL,
	[TakimAd] [nvarchar](100) NULL,
	[GolSaat] [time](7) NULL,
	[GolTarih] [date] NULL,
	[DegisenMiAtti] [bit] NULL,
	[HakemID] [int] NULL,
	[HakemAd] [nvarchar](50) NULL,
	[Stadyum] [nvarchar](100) NULL,
	[AsistOyuncuID] [int] NULL,
	[AsistOyuncuAd] [nvarchar](50) NULL,
	[AsistVarmi] [bit] NULL,
	[PenaltiMi] [bit] NULL,
	[EvSahibiSkor] [tinyint] NULL,
	[DeplasmanSkor] [tinyint] NULL,
	[HatTrickMi] [bit] NULL,
	[GolTuru] [nvarchar](50) NULL,
 CONSTRAINT [PK__Goller__E344E4C08C748035] PRIMARY KEY CLUSTERED 
(
	[GolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hakemler]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakemler](
	[HakemID] [int] NOT NULL,
	[HakemAd] [nvarchar](50) NOT NULL,
	[HakemSoyad] [nvarchar](50) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Uyruk] [nvarchar](50) NULL,
	[DeneyimSuresi] [int] NULL,
	[Cinsiyet] [char](1) NULL,
	[Email] [nvarchar](100) NULL,
	[Adres] [nvarchar](100) NULL,
	[GorevAlinanMac] [smallint] NULL,
	[ToplamKirmiziKart] [tinyint] NULL,
	[ToplamSariKart] [tinyint] NULL,
	[AktifGorev] [bit] NULL,
	[Emekli] [bit] NULL,
	[HakemLisansNo] [nvarchar](50) NULL,
	[HakemLisansTarih] [date] NULL,
	[Bilinirlik] [nvarchar](10) NULL,
	[SonMacTarih] [date] NULL,
	[SonMacStadyum] [nvarchar](100) NULL,
	[Telefon] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[HakemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Izleyiciler]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izleyiciler](
	[IzleyiciID] [int] NOT NULL,
	[MacID] [int] NOT NULL,
	[IzAd] [nvarchar](50) NULL,
	[IzSoyad] [nvarchar](50) NULL,
	[BiletNo] [nvarchar](20) NOT NULL,
	[KoltukNo] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefon] [nvarchar](15) NULL,
	[DogumTarihi] [date] NOT NULL,
	[Cinsiyet] [char](1) NULL,
	[BiletTuru] [nvarchar](20) NULL,
	[Ucret] [decimal](10, 2) NULL,
	[IlkSeferMi] [bit] NULL,
	[Adres] [nvarchar](255) NULL,
	[OdemeTuru] [nvarchar](50) NULL,
	[FavoriTakim] [nvarchar](100) NULL,
	[TisortBeden] [char](2) NULL,
	[EngeliVarmi] [bit] NULL,
	[AcilDurumIsim] [nvarchar](50) NULL,
	[AcilDurumTelefon] [nvarchar](15) NULL,
 CONSTRAINT [PK__Izleyici__8062EF73610E4861] PRIMARY KEY CLUSTERED 
(
	[IzleyiciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kartlar]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kartlar](
	[KartID] [int] NOT NULL,
	[MacID] [int] NOT NULL,
	[OyuncuID] [int] NOT NULL,
	[KartTuru] [nvarchar](10) NULL,
	[Dakika] [int] NULL,
	[KartTarih] [date] NULL,
	[TakimID] [int] NULL,
	[EvSahibiSkor] [tinyint] NULL,
	[DeplasmanSkor] [tinyint] NULL,
	[OyuncuYedekMi] [bit] NULL,
	[OyuncuKaptanMi] [bit] NULL,
	[CezaliDustuMu] [bit] NULL,
	[IlkYari] [bit] NULL,
	[IkinciYari] [bit] NULL,
	[HakemID] [int] NULL,
	[HakemAd] [nvarchar](50) NULL,
	[HakemSoyad] [nvarchar](50) NULL,
	[Stadyum] [nvarchar](100) NULL,
	[MacSonuc] [nvarchar](50) NULL,
	[IkinciSariMi] [bit] NULL,
	[VerilisNedeni] [nvarchar](100) NULL,
 CONSTRAINT [PK__Kartlar__88CAE03D9749681D] PRIMARY KEY CLUSTERED 
(
	[KartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ligler]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ligler](
	[LigID] [int] NOT NULL,
	[LigAdi] [nvarchar](100) NOT NULL,
	[Sponsor] [nvarchar](100) NULL,
	[TakimSayisi] [int] NOT NULL,
	[OdulHavuzu] [int] NULL,
	[BaslangicTarih] [date] NOT NULL,
	[BitisTarih] [date] NULL,
	[Aktiflik] [bit] NOT NULL,
	[KurulusYili] [smallint] NULL,
	[ToplamMac] [int] NULL,
	[ToplamGol] [int] NULL,
	[GuncelLider] [nvarchar](100) NULL,
	[OncekiSampiyon] [nvarchar](100) NULL,
	[ToplamBeraberlik] [int] NULL,
	[OrtMacBasiGol] [decimal](5, 2) NULL,
	[LigWebsite] [nvarchar](255) NULL,
	[LigTipi] [nvarchar](50) NULL,
	[LigYillikGelir] [decimal](15, 2) NULL,
	[LigMacSikligi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maclar]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maclar](
	[MacID] [int] NOT NULL,
	[EvSahibiID] [int] NOT NULL,
	[DeplasmanID] [int] NOT NULL,
	[LigID] [int] NOT NULL,
	[MacSaat] [time](7) NULL,
	[MacTarihi] [datetime] NOT NULL,
	[Stadyum] [nvarchar](100) NULL,
	[HakemID] [int] NOT NULL,
	[HakemAd] [nvarchar](50) NULL,
	[EvSahibiSkor] [tinyint] NULL,
	[DeplasmanSkor] [tinyint] NULL,
	[UzatmaVarMi] [bit] NULL,
	[PenaltilaraGidildiMi] [bit] NULL,
	[EvKirmiziKart] [tinyint] NULL,
	[DepKirmiziKart] [tinyint] NULL,
	[EvSariKart] [tinyint] NULL,
	[DepSariKart] [tinyint] NULL,
	[Sicaklik] [decimal](5, 2) NULL,
	[ToplamGol] [tinyint] NULL,
	[MacSure] [tinyint] NULL,
	[PenaltiOlduMu] [bit] NULL,
 CONSTRAINT [PK__Maclar__35483C757C1FEBED] PRIMARY KEY CLUSTERED 
(
	[MacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oyuncular]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyuncular](
	[OyuncuID] [int] NOT NULL,
	[LigID] [int] NULL,
	[OyuncuAd] [nvarchar](50) NOT NULL,
	[OyuncuSoyad] [nvarchar](50) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Uyruk] [nvarchar](50) NULL,
	[Mevki] [nvarchar](20) NULL,
	[FormaNo] [int] NULL,
	[TakımID] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Adres] [nvarchar](100) NULL,
	[Telefon] [nvarchar](15) NULL,
	[Kilo] [tinyint] NULL,
	[Boy] [tinyint] NULL,
	[SozlesmeBaslangic] [date] NULL,
	[SozlesmeBitis] [date] NULL,
	[AktifKulub] [nvarchar](50) NULL,
	[OncekiKulubler] [nvarchar](50) NULL,
	[BonservisBedeli] [decimal](15, 2) NULL,
	[Cinsiyet] [char](1) NULL,
	[ToplamSariKart] [tinyint] NULL,
	[ToplamKırmızıKart] [tinyint] NULL,
 CONSTRAINT [PK__Oyuncula__4A316C804568FBFF] PRIMARY KEY CLUSTERED 
(
	[OyuncuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsorlar]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsorlar](
	[SponsorID] [int] NOT NULL,
	[SponsorAd] [nvarchar](100) NOT NULL,
	[TakimID] [int] NOT NULL,
	[SozlesmeBaslangic] [date] NOT NULL,
	[SozlesmeBitis] [date] NOT NULL,
	[SozlesmeDegeri] [decimal](10, 2) NULL,
	[AktifMi] [bit] NULL,
	[Endustri] [nvarchar](10) NULL,
	[IletisimEmail] [nvarchar](100) NULL,
	[IletisimTelefon] [nvarchar](20) NULL,
	[LogoYerlesim] [nvarchar](50) NULL,
	[Ulke] [nvarchar](50) NULL,
	[OdemeDurum] [nvarchar](20) NULL,
	[OdemeSekli] [nvarchar](50) NULL,
	[SponsorWebsite] [nvarchar](100) NULL,
	[MedyaBilinirligi] [nvarchar](50) NULL,
	[ImzaAtildimi] [bit] NULL,
	[Yenilenebilirlik] [bit] NULL,
	[SponsorStatu] [nvarchar](20) NULL,
	[IlkOdemeTutar] [decimal](15, 2) NULL,
	[ToplamUcret] [decimal](18, 2) NULL,
 CONSTRAINT [PK__Sponsorl__3B609EF5E31CE61A] PRIMARY KEY CLUSTERED 
(
	[SponsorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takımlar]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takımlar](
	[TakimID] [int] NOT NULL,
	[TakimAd] [nvarchar](100) NOT NULL,
	[Sehir] [nvarchar](50) NOT NULL,
	[Stadyum] [nvarchar](100) NULL,
	[StadyumKapasite] [int] NULL,
	[KurulusYili] [int] NULL,
	[LigID] [int] NOT NULL,
	[TeknikDirektor] [nvarchar](100) NULL,
	[TakımBaskan] [nvarchar](100) NULL,
	[TakımRenk] [nvarchar](50) NULL,
	[TotalSampiyonluk] [int] NULL,
	[TotalKupa] [int] NULL,
	[ToplamAtılanGol] [int] NULL,
	[ToplamYenilenGol] [int] NULL,
	[ToplamKazanma] [int] NULL,
	[ToplamKaybetme] [int] NULL,
	[ToplamBeraberlik] [int] NULL,
	[PiyasaDegeri] [decimal](15, 2) NULL,
	[OrtYas] [decimal](3, 1) NULL,
	[Sponsor] [nvarchar](100) NULL,
	[ToplamTaraftarSayisi] [int] NULL,
 CONSTRAINT [PK__Takımlar__8EE4A5DC8220D739] PRIMARY KEY CLUSTERED 
(
	[TakimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeknikDirektorler]    Script Date: 7.12.2024 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeknikDirektorler](
	[TdID] [int] NOT NULL,
	[TdAd] [nvarchar](50) NOT NULL,
	[TdSoyad] [nvarchar](50) NOT NULL,
	[Uyruk] [nvarchar](50) NULL,
	[DeneyimSuresi] [int] NULL,
	[TakimID] [int] NOT NULL,
	[Cinsiyet] [char](1) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Adres] [nvarchar](100) NULL,
	[TdLisans] [nvarchar](20) NULL,
	[TdBaslangic] [date] NULL,
	[Maas] [decimal](15, 2) NULL,
	[AktifKulub] [nvarchar](100) NULL,
	[OncekiKulubler] [nvarchar](max) NULL,
	[Basarılar] [nvarchar](max) NULL,
	[ToplamMac] [int] NULL,
	[KazanmaOrani] [decimal](5, 2) NULL,
	[BeraberlikOrani] [decimal](5, 2) NULL,
	[KaybetmeOrani] [decimal](5, 2) NULL,
	[ToplamAtilanGol] [int] NULL,
	[ToplamYenilenGol] [int] NULL,
	[FavoriFormasyon] [nvarchar](50) NULL,
 CONSTRAINT [PK__TeknikDi__8EB8ECDEC42E3F00] PRIMARY KEY CLUSTERED 
(
	[TdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Goller] ([GolID], [MacID], [OyuncuID], [TakimID], [Dakika], [KendiKalesineGol], [TakimAd], [GolSaat], [GolTarih], [DegisenMiAtti], [HakemID], [HakemAd], [Stadyum], [AsistOyuncuID], [AsistOyuncuAd], [AsistVarmi], [PenaltiMi], [EvSahibiSkor], [DeplasmanSkor], [HatTrickMi], [GolTuru]) VALUES (1, 5, 5, 8, 63, 0, N'Sarıyer', CAST(N'03:00:00' AS Time), CAST(N'2024-11-24' AS Date), 0, 3, N'Ahmet', N'Yusuf Ziya', 7, N'Kerem', 1, 0, 1, 0, 0, N'Normal')
INSERT [dbo].[Goller] ([GolID], [MacID], [OyuncuID], [TakimID], [Dakika], [KendiKalesineGol], [TakimAd], [GolSaat], [GolTarih], [DegisenMiAtti], [HakemID], [HakemAd], [Stadyum], [AsistOyuncuID], [AsistOyuncuAd], [AsistVarmi], [PenaltiMi], [EvSahibiSkor], [DeplasmanSkor], [HatTrickMi], [GolTuru]) VALUES (2, 1, 8, 1, 87, 0, N'Fenerbahçe', CAST(N'01:27:00' AS Time), CAST(N'2024-04-30' AS Date), 1, 1, N'Zorbay', N'Şükrü Saraçoğlu', NULL, NULL, 0, 0, 1, 2, 0, N'Uzaktan Şut')
INSERT [dbo].[Goller] ([GolID], [MacID], [OyuncuID], [TakimID], [Dakika], [KendiKalesineGol], [TakimAd], [GolSaat], [GolTarih], [DegisenMiAtti], [HakemID], [HakemAd], [Stadyum], [AsistOyuncuID], [AsistOyuncuAd], [AsistVarmi], [PenaltiMi], [EvSahibiSkor], [DeplasmanSkor], [HatTrickMi], [GolTuru]) VALUES (3, 1, 9, 2, 65, 0, N'Galatasaray', CAST(N'01:05:00' AS Time), CAST(N'2024-04-30' AS Date), 0, 1, N'Zorbay', N'Şükrü Saraçoğlu', 2, N'Victor', 1, 0, 1, 2, 0, N'Kafa')
GO
INSERT [dbo].[Hakemler] ([HakemID], [HakemAd], [HakemSoyad], [DogumTarihi], [Uyruk], [DeneyimSuresi], [Cinsiyet], [Email], [Adres], [GorevAlinanMac], [ToplamKirmiziKart], [ToplamSariKart], [AktifGorev], [Emekli], [HakemLisansNo], [HakemLisansTarih], [Bilinirlik], [SonMacTarih], [SonMacStadyum], [Telefon]) VALUES (1, N'Zorbay', N'Küçük', CAST(N'1965-04-12' AS Date), N'Türk', 25, N'E', N'zorbay@gmail.com', N'İstanbul Sarıyer', 98, 65, 145, 1, 0, N'2312', CAST(N'2001-04-23' AS Date), N'Yüksek', CAST(N'2024-06-23' AS Date), N'Olimpiyat', N'5322609145')
INSERT [dbo].[Hakemler] ([HakemID], [HakemAd], [HakemSoyad], [DogumTarihi], [Uyruk], [DeneyimSuresi], [Cinsiyet], [Email], [Adres], [GorevAlinanMac], [ToplamKirmiziKart], [ToplamSariKart], [AktifGorev], [Emekli], [HakemLisansNo], [HakemLisansTarih], [Bilinirlik], [SonMacTarih], [SonMacStadyum], [Telefon]) VALUES (2, N'Metehan ', N'Topçu', CAST(N'1972-06-23' AS Date), N'Türk', 23, N'E', N'metehan@gmail.com', N'Ankara Mamak', 102, 56, 210, 1, 0, N'2313', CAST(N'2002-06-25' AS Date), N'Yüksek', CAST(N'2023-05-15' AS Date), N'Papara Park', N'5213451232')
INSERT [dbo].[Hakemler] ([HakemID], [HakemAd], [HakemSoyad], [DogumTarihi], [Uyruk], [DeneyimSuresi], [Cinsiyet], [Email], [Adres], [GorevAlinanMac], [ToplamKirmiziKart], [ToplamSariKart], [AktifGorev], [Emekli], [HakemLisansNo], [HakemLisansTarih], [Bilinirlik], [SonMacTarih], [SonMacStadyum], [Telefon]) VALUES (3, N'Ahmet', N'Veli', CAST(N'1980-04-20' AS Date), N'Türk', 24, N'E', N'ahmet@gmail.com', N'Mersin Tarsus', 58, 87, 205, 1, 0, N'2023', CAST(N'2005-07-23' AS Date), N'Orta', CAST(N'2022-03-12' AS Date), N'Şükrü Saraçoğlu', N'5653421234')
GO
INSERT [dbo].[Izleyiciler] ([IzleyiciID], [MacID], [IzAd], [IzSoyad], [BiletNo], [KoltukNo], [Email], [Telefon], [DogumTarihi], [Cinsiyet], [BiletTuru], [Ucret], [IlkSeferMi], [Adres], [OdemeTuru], [FavoriTakim], [TisortBeden], [EngeliVarmi], [AcilDurumIsim], [AcilDurumTelefon]) VALUES (1, 1, N'Eren', N'Elmalı', N'657', N'245', N'eren@gmail.com', N'5321234123', CAST(N'2001-06-23' AS Date), N'E', N'VIP', CAST(1200.00 AS Decimal(10, 2)), 1, N'Balıkesir Toygar', N'Banka Kartı', N'Fenerbahçe', N'M ', 0, N'Mehmet', N'5432342342')
INSERT [dbo].[Izleyiciler] ([IzleyiciID], [MacID], [IzAd], [IzSoyad], [BiletNo], [KoltukNo], [Email], [Telefon], [DogumTarihi], [Cinsiyet], [BiletTuru], [Ucret], [IlkSeferMi], [Adres], [OdemeTuru], [FavoriTakim], [TisortBeden], [EngeliVarmi], [AcilDurumIsim], [AcilDurumTelefon]) VALUES (2, 3, N'Ahmet', N'Kalamat', N'567', N'2567', N'ahmet@hotmail.com', N'2342313452', CAST(N'2002-08-24' AS Date), N'E', N'Premium', CAST(2500.00 AS Decimal(10, 2)), 0, N'Manisa Turgutlu', N'Kredi Kartı', N'Bandırmaspor', N'L ', 0, N'İclal', N'5324502312')
INSERT [dbo].[Izleyiciler] ([IzleyiciID], [MacID], [IzAd], [IzSoyad], [BiletNo], [KoltukNo], [Email], [Telefon], [DogumTarihi], [Cinsiyet], [BiletTuru], [Ucret], [IlkSeferMi], [Adres], [OdemeTuru], [FavoriTakim], [TisortBeden], [EngeliVarmi], [AcilDurumIsim], [AcilDurumTelefon]) VALUES (3, 5, N'Ece', N'Kelebek', N'4567', N'231', N'ece@outlook.com', N'5323452134', CAST(N'2003-09-12' AS Date), N'K', N'Standart', CAST(2300.00 AS Decimal(10, 2)), 1, N'İzmir Karşıyaka', N'Nakit', N'Altınordu', N'S ', 0, N'Ali', N'5321234231')
GO
INSERT [dbo].[Kartlar] ([KartID], [MacID], [OyuncuID], [KartTuru], [Dakika], [KartTarih], [TakimID], [EvSahibiSkor], [DeplasmanSkor], [OyuncuYedekMi], [OyuncuKaptanMi], [CezaliDustuMu], [IlkYari], [IkinciYari], [HakemID], [HakemAd], [HakemSoyad], [Stadyum], [MacSonuc], [IkinciSariMi], [VerilisNedeni]) VALUES (1, 1, 1, N'Sarı', 54, CAST(N'2024-04-30' AS Date), 1, 1, 3, 0, 0, 0, 0, 1, 1, N'Zorbay', N'Küçük', N'Şükrü Saraçoğlu', N'1-3', 0, N'İtiraz')
INSERT [dbo].[Kartlar] ([KartID], [MacID], [OyuncuID], [KartTuru], [Dakika], [KartTarih], [TakimID], [EvSahibiSkor], [DeplasmanSkor], [OyuncuYedekMi], [OyuncuKaptanMi], [CezaliDustuMu], [IlkYari], [IkinciYari], [HakemID], [HakemAd], [HakemSoyad], [Stadyum], [MacSonuc], [IkinciSariMi], [VerilisNedeni]) VALUES (2, 2, 2, N'Sarı', 42, CAST(N'2024-05-23' AS Date), 2, 2, 3, 0, 0, 0, 1, 0, 2, N'Metehan', N'Topçu', N'Rams Park', N'2-3', 0, N'Sert Müdahale')
INSERT [dbo].[Kartlar] ([KartID], [MacID], [OyuncuID], [KartTuru], [Dakika], [KartTarih], [TakimID], [EvSahibiSkor], [DeplasmanSkor], [OyuncuYedekMi], [OyuncuKaptanMi], [CezaliDustuMu], [IlkYari], [IkinciYari], [HakemID], [HakemAd], [HakemSoyad], [Stadyum], [MacSonuc], [IkinciSariMi], [VerilisNedeni]) VALUES (3, 3, 3, N'Kırmızı', 72, CAST(N'2024-08-30' AS Date), 4, 2, 2, 0, 1, 1, 0, 1, 4, N'Jordan', N'Kyras', N'Kocaeli Stadyumu', N'2-2', 1, N'Sert Müdahale')
GO
INSERT [dbo].[Ligler] ([LigID], [LigAdi], [Sponsor], [TakimSayisi], [OdulHavuzu], [BaslangicTarih], [BitisTarih], [Aktiflik], [KurulusYili], [ToplamMac], [ToplamGol], [GuncelLider], [OncekiSampiyon], [ToplamBeraberlik], [OrtMacBasiGol], [LigWebsite], [LigTipi], [LigYillikGelir], [LigMacSikligi]) VALUES (1, N'Trendyol Süper Lig', N'Trendyol', 19, 71000000, CAST(N'2024-08-09' AS Date), CAST(N'2025-08-01' AS Date), 1, 1959, 380, 363, N'Fenerbahçe', N'Galatasaray', 27, CAST(2.88 AS Decimal(5, 2)), N'https://www.tff.org/', N'Profesyonel', CAST(2500000000.00 AS Decimal(15, 2)), N'Haftada 1')
INSERT [dbo].[Ligler] ([LigID], [LigAdi], [Sponsor], [TakimSayisi], [OdulHavuzu], [BaslangicTarih], [BitisTarih], [Aktiflik], [KurulusYili], [ToplamMac], [ToplamGol], [GuncelLider], [OncekiSampiyon], [ToplamBeraberlik], [OrtMacBasiGol], [LigWebsite], [LigTipi], [LigYillikGelir], [LigMacSikligi]) VALUES (2, N'Trendyol 1.Lig', N'Trendyol', 20, NULL, CAST(N'2024-08-09' AS Date), CAST(N'2025-08-01' AS Date), 1, 1963, 380, 364, N'Kocaelispor', N'Eyüpspor', 25, CAST(2.60 AS Decimal(5, 2)), N'https://www.tff.org/', N'Profesyonel', NULL, N'Haftada 1')
INSERT [dbo].[Ligler] ([LigID], [LigAdi], [Sponsor], [TakimSayisi], [OdulHavuzu], [BaslangicTarih], [BitisTarih], [Aktiflik], [KurulusYili], [ToplamMac], [ToplamGol], [GuncelLider], [OncekiSampiyon], [ToplamBeraberlik], [OrtMacBasiGol], [LigWebsite], [LigTipi], [LigYillikGelir], [LigMacSikligi]) VALUES (3, N'Nesine 2.Lig', N'Nesine', 36, NULL, CAST(N'2024-08-31' AS Date), CAST(N'2025-05-01' AS Date), 1, 2001, 252, 639, N'Sarıyer', N'Esenler Erokspor', 26, CAST(2.54 AS Decimal(5, 2)), N'https://www.tff.org/', N'Profesyonel', NULL, N'Haftada 1')
GO
INSERT [dbo].[Maclar] ([MacID], [EvSahibiID], [DeplasmanID], [LigID], [MacSaat], [MacTarihi], [Stadyum], [HakemID], [HakemAd], [EvSahibiSkor], [DeplasmanSkor], [UzatmaVarMi], [PenaltilaraGidildiMi], [EvKirmiziKart], [DepKirmiziKart], [EvSariKart], [DepSariKart], [Sicaklik], [ToplamGol], [MacSure], [PenaltiOlduMu]) VALUES (1, 1, 2, 1, CAST(N'00:00:00' AS Time), CAST(N'2024-04-30T00:00:00.000' AS DateTime), N'Şükrü Saraçoğlu', 1, N'Zorbay', 1, 3, 0, 0, 0, 0, 2, 1, CAST(21.00 AS Decimal(5, 2)), 4, 92, 1)
INSERT [dbo].[Maclar] ([MacID], [EvSahibiID], [DeplasmanID], [LigID], [MacSaat], [MacTarihi], [Stadyum], [HakemID], [HakemAd], [EvSahibiSkor], [DeplasmanSkor], [UzatmaVarMi], [PenaltilaraGidildiMi], [EvKirmiziKart], [DepKirmiziKart], [EvSariKart], [DepSariKart], [Sicaklik], [ToplamGol], [MacSure], [PenaltiOlduMu]) VALUES (2, 2, 3, 1, CAST(N'21:00:00' AS Time), CAST(N'2024-05-23T21:00:00.000' AS DateTime), N'Rams Park', 2, N'Metehan', 3, 0, 0, 0, 0, 0, 1, 2, CAST(18.00 AS Decimal(5, 2)), 3, 94, 0)
INSERT [dbo].[Maclar] ([MacID], [EvSahibiID], [DeplasmanID], [LigID], [MacSaat], [MacTarihi], [Stadyum], [HakemID], [HakemAd], [EvSahibiSkor], [DeplasmanSkor], [UzatmaVarMi], [PenaltilaraGidildiMi], [EvKirmiziKart], [DepKirmiziKart], [EvSariKart], [DepSariKart], [Sicaklik], [ToplamGol], [MacSure], [PenaltiOlduMu]) VALUES (3, 5, 4, 2, CAST(N'22:00:00' AS Time), CAST(N'2024-08-30T00:00:00.000' AS DateTime), N'17 Eylül', 4, N'Jordan', 2, 2, 0, 0, 1, 0, 2, 1, CAST(5.00 AS Decimal(5, 2)), 4, 91, 0)
GO
INSERT [dbo].[Oyuncular] ([OyuncuID], [LigID], [OyuncuAd], [OyuncuSoyad], [DogumTarihi], [Uyruk], [Mevki], [FormaNo], [TakımID], [Email], [Adres], [Telefon], [Kilo], [Boy], [SozlesmeBaslangic], [SozlesmeBitis], [AktifKulub], [OncekiKulubler], [BonservisBedeli], [Cinsiyet], [ToplamSariKart], [ToplamKırmızıKart]) VALUES (2, 1, N'Victor', N'Osimhen', CAST(N'1998-12-29' AS Date), N'Nijerya', N'Forvet', 45, 2, N'osimhen@gmail.com', N'Nijerya', N'4842341234', 80, 186, CAST(N'2024-09-01' AS Date), CAST(N'2025-06-30' AS Date), N'Galatasaray', N'Napoli', CAST(75000000.00 AS Decimal(15, 2)), N'E', 2, 0)
INSERT [dbo].[Oyuncular] ([OyuncuID], [LigID], [OyuncuAd], [OyuncuSoyad], [DogumTarihi], [Uyruk], [Mevki], [FormaNo], [TakımID], [Email], [Adres], [Telefon], [Kilo], [Boy], [SozlesmeBaslangic], [SozlesmeBitis], [AktifKulub], [OncekiKulubler], [BonservisBedeli], [Cinsiyet], [ToplamSariKart], [ToplamKırmızıKart]) VALUES (3, 2, N'Mehmet ', N'Erkan', CAST(N'1995-05-03' AS Date), N'Türkiye', N'OrtaSaha', 23, 4, N'mehmet@gmail.com', N'Konya', N'3245242134', 84, 183, CAST(N'2023-04-23' AS Date), CAST(N'2026-04-08' AS Date), N'Kocaelispor', N'Alanyaspor', CAST(550000.00 AS Decimal(15, 2)), N'E', 3, 1)
GO
INSERT [dbo].[Takımlar] ([TakimID], [TakimAd], [Sehir], [Stadyum], [StadyumKapasite], [KurulusYili], [LigID], [TeknikDirektor], [TakımBaskan], [TakımRenk], [TotalSampiyonluk], [TotalKupa], [ToplamAtılanGol], [ToplamYenilenGol], [ToplamKazanma], [ToplamKaybetme], [ToplamBeraberlik], [PiyasaDegeri], [OrtYas], [Sponsor], [ToplamTaraftarSayisi]) VALUES (1, N'Fenerbahçe', N'İstanbul', N'Şükrü Saraçoğlu Stadyumu', 50530, 1907, 1, N'Jose Mourinho', N'Ali Koç', N'Sarı-Lacivert', 29, 71, 3944, 2654, 1262, 534, 456, CAST(226.13 AS Decimal(15, 2)), CAST(26.8 AS Decimal(3, 1)), N'Ülker', 37028)
INSERT [dbo].[Takımlar] ([TakimID], [TakimAd], [Sehir], [Stadyum], [StadyumKapasite], [KurulusYili], [LigID], [TeknikDirektor], [TakımBaskan], [TakımRenk], [TotalSampiyonluk], [TotalKupa], [ToplamAtılanGol], [ToplamYenilenGol], [ToplamKazanma], [ToplamKaybetme], [ToplamBeraberlik], [PiyasaDegeri], [OrtYas], [Sponsor], [ToplamTaraftarSayisi]) VALUES (2, N'Galatasaray', N'İstanbul', N'Rams Park', 52468, 1905, 1, N'Okan Buruk', N'Dursun Özbek', N'Sarı-Kırmızı', 24, 85, 3898, 2543, 1254, 456, 467, CAST(262.05 AS Decimal(15, 2)), CAST(27.3 AS Decimal(3, 1)), N'Pasifik Holding', 42063)
INSERT [dbo].[Takımlar] ([TakimID], [TakimAd], [Sehir], [Stadyum], [StadyumKapasite], [KurulusYili], [LigID], [TeknikDirektor], [TakımBaskan], [TakımRenk], [TotalSampiyonluk], [TotalKupa], [ToplamAtılanGol], [ToplamYenilenGol], [ToplamKazanma], [ToplamKaybetme], [ToplamBeraberlik], [PiyasaDegeri], [OrtYas], [Sponsor], [ToplamTaraftarSayisi]) VALUES (3, N'Beşiktaş', N'İstanbul', N'Tüpraş', 42445, 1903, 1, N'Giovanni Van Brockhorst', N'Hüseyin Yücel', N'Siyah-Beyaz', 16, 67, 3610, 2345, 1186, 675, 421, CAST(139.48 AS Decimal(15, 2)), CAST(27.0 AS Decimal(3, 1)), N'Beko', 31193)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Hakemler]    Script Date: 7.12.2024 02:11:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Hakemler] ON [dbo].[Hakemler]
(
	[HakemLisansNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Izleyici__9567E3E7CE19930D]    Script Date: 7.12.2024 02:11:06 ******/
ALTER TABLE [dbo].[Izleyiciler] ADD  CONSTRAINT [UQ__Izleyici__9567E3E7CE19930D] UNIQUE NONCLUSTERED 
(
	[BiletNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ligler]    Script Date: 7.12.2024 02:11:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Ligler] ON [dbo].[Ligler]
(
	[LigAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Takımlar__A2CB744620A81BBB]    Script Date: 7.12.2024 02:11:06 ******/
ALTER TABLE [dbo].[Takımlar] ADD  CONSTRAINT [UQ__Takımlar__A2CB744620A81BBB] UNIQUE NONCLUSTERED 
(
	[TakimAd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Goller] ADD  CONSTRAINT [DF__Goller__KendiKal__5812160E]  DEFAULT ((0)) FOR [KendiKalesineGol]
GO
ALTER TABLE [dbo].[Goller] ADD  CONSTRAINT [DF_Goller_YedekMiAtti]  DEFAULT ((0)) FOR [DegisenMiAtti]
GO
ALTER TABLE [dbo].[Goller] ADD  CONSTRAINT [DF_Goller_AsistVarmi]  DEFAULT ((0)) FOR [AsistVarmi]
GO
ALTER TABLE [dbo].[Goller] ADD  CONSTRAINT [DF_Goller_PenaltiMi]  DEFAULT ((0)) FOR [PenaltiMi]
GO
ALTER TABLE [dbo].[Goller] ADD  CONSTRAINT [DF_Goller_HatTrickMi]  DEFAULT ((0)) FOR [HatTrickMi]
GO
ALTER TABLE [dbo].[Hakemler] ADD  CONSTRAINT [DF_Hakemler_AktifGorev]  DEFAULT ((1)) FOR [AktifGorev]
GO
ALTER TABLE [dbo].[Hakemler] ADD  CONSTRAINT [DF_Hakemler_Emekli]  DEFAULT ((0)) FOR [Emekli]
GO
ALTER TABLE [dbo].[Izleyiciler] ADD  CONSTRAINT [DF_Izleyiciler_IlkSeferMi]  DEFAULT ((0)) FOR [IlkSeferMi]
GO
ALTER TABLE [dbo].[Izleyiciler] ADD  CONSTRAINT [DF_Izleyiciler_EngeliVarmi]  DEFAULT ((0)) FOR [EngeliVarmi]
GO
ALTER TABLE [dbo].[Kartlar] ADD  CONSTRAINT [DF_Kartlar_OyuncuYedekMi]  DEFAULT ((0)) FOR [OyuncuYedekMi]
GO
ALTER TABLE [dbo].[Kartlar] ADD  CONSTRAINT [DF_Kartlar_OyuncuKaptanMi]  DEFAULT ((0)) FOR [OyuncuKaptanMi]
GO
ALTER TABLE [dbo].[Kartlar] ADD  CONSTRAINT [DF_Kartlar_CezaliDustuMu]  DEFAULT ((0)) FOR [CezaliDustuMu]
GO
ALTER TABLE [dbo].[Kartlar] ADD  CONSTRAINT [DF_Kartlar_IkinciSariMi]  DEFAULT ((0)) FOR [IkinciSariMi]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF__Maclar__EvSahibi__4D94879B]  DEFAULT ((0)) FOR [EvSahibiSkor]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF__Maclar__Deplasma__4F7CD00D]  DEFAULT ((0)) FOR [DeplasmanSkor]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF_Maclar_UzatmaVarMi]  DEFAULT ((0)) FOR [UzatmaVarMi]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF_Maclar_PenaltilaraGidildiMi]  DEFAULT ((0)) FOR [PenaltilaraGidildiMi]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF_Maclar_EvKirmiziKart]  DEFAULT ((0)) FOR [EvKirmiziKart]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF_Maclar_DepKirmiziKart]  DEFAULT ((0)) FOR [DepKirmiziKart]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF_Maclar_EvSariKart]  DEFAULT ((0)) FOR [EvSariKart]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF_Maclar_DepSariKart]  DEFAULT ((0)) FOR [DepSariKart]
GO
ALTER TABLE [dbo].[Maclar] ADD  CONSTRAINT [DF_Maclar_PenaltiOlduMu]  DEFAULT ((0)) FOR [PenaltiOlduMu]
GO
ALTER TABLE [dbo].[Oyuncular] ADD  CONSTRAINT [DF_Oyuncular_ToplamSariKart]  DEFAULT ((0)) FOR [ToplamSariKart]
GO
ALTER TABLE [dbo].[Oyuncular] ADD  CONSTRAINT [DF_Oyuncular_ToplamKırmızıKart]  DEFAULT ((0)) FOR [ToplamKırmızıKart]
GO
ALTER TABLE [dbo].[Sponsorlar] ADD  CONSTRAINT [DF_Sponsorlar_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Sponsorlar] ADD  CONSTRAINT [DF_Sponsorlar_ImzaAtildimi]  DEFAULT ((1)) FOR [ImzaAtildimi]
GO
ALTER TABLE [dbo].[Sponsorlar] ADD  CONSTRAINT [DF_Sponsorlar_Yenilenebilirlik]  DEFAULT ((1)) FOR [Yenilenebilirlik]
GO
ALTER TABLE [dbo].[Goller]  WITH CHECK ADD  CONSTRAINT [FK__Goller__MacID__59063A47] FOREIGN KEY([MacID])
REFERENCES [dbo].[Maclar] ([MacID])
GO
ALTER TABLE [dbo].[Goller] CHECK CONSTRAINT [FK__Goller__MacID__59063A47]
GO
ALTER TABLE [dbo].[Goller]  WITH CHECK ADD  CONSTRAINT [FK__Goller__OyuncuID__59FA5E80] FOREIGN KEY([OyuncuID])
REFERENCES [dbo].[Oyuncular] ([OyuncuID])
GO
ALTER TABLE [dbo].[Goller] CHECK CONSTRAINT [FK__Goller__OyuncuID__59FA5E80]
GO
ALTER TABLE [dbo].[Goller]  WITH CHECK ADD  CONSTRAINT [FK__Goller__TakimID__5AEE82B9] FOREIGN KEY([TakimID])
REFERENCES [dbo].[Takımlar] ([TakimID])
GO
ALTER TABLE [dbo].[Goller] CHECK CONSTRAINT [FK__Goller__TakimID__5AEE82B9]
GO
ALTER TABLE [dbo].[Goller]  WITH CHECK ADD  CONSTRAINT [FK_Goller_AsistOyuncular] FOREIGN KEY([AsistOyuncuID])
REFERENCES [dbo].[Oyuncular] ([OyuncuID])
GO
ALTER TABLE [dbo].[Goller] CHECK CONSTRAINT [FK_Goller_AsistOyuncular]
GO
ALTER TABLE [dbo].[Goller]  WITH CHECK ADD  CONSTRAINT [FK_Goller_Hakemler] FOREIGN KEY([HakemID])
REFERENCES [dbo].[Hakemler] ([HakemID])
GO
ALTER TABLE [dbo].[Goller] CHECK CONSTRAINT [FK_Goller_Hakemler]
GO
ALTER TABLE [dbo].[Izleyiciler]  WITH CHECK ADD  CONSTRAINT [FK__Izleyicil__MacID__6FE99F9F] FOREIGN KEY([MacID])
REFERENCES [dbo].[Maclar] ([MacID])
GO
ALTER TABLE [dbo].[Izleyiciler] CHECK CONSTRAINT [FK__Izleyicil__MacID__6FE99F9F]
GO
ALTER TABLE [dbo].[Kartlar]  WITH CHECK ADD  CONSTRAINT [FK__Kartlar__MacID__5FB337D6] FOREIGN KEY([MacID])
REFERENCES [dbo].[Maclar] ([MacID])
GO
ALTER TABLE [dbo].[Kartlar] CHECK CONSTRAINT [FK__Kartlar__MacID__5FB337D6]
GO
ALTER TABLE [dbo].[Kartlar]  WITH CHECK ADD  CONSTRAINT [FK__Kartlar__OyuncuI__60A75C0F] FOREIGN KEY([OyuncuID])
REFERENCES [dbo].[Oyuncular] ([OyuncuID])
GO
ALTER TABLE [dbo].[Kartlar] CHECK CONSTRAINT [FK__Kartlar__OyuncuI__60A75C0F]
GO
ALTER TABLE [dbo].[Kartlar]  WITH CHECK ADD  CONSTRAINT [FK_Kartlar_Hakemler] FOREIGN KEY([HakemID])
REFERENCES [dbo].[Hakemler] ([HakemID])
GO
ALTER TABLE [dbo].[Kartlar] CHECK CONSTRAINT [FK_Kartlar_Hakemler]
GO
ALTER TABLE [dbo].[Kartlar]  WITH CHECK ADD  CONSTRAINT [FK_Kartlar_Takımlar] FOREIGN KEY([TakimID])
REFERENCES [dbo].[Takımlar] ([TakimID])
GO
ALTER TABLE [dbo].[Kartlar] CHECK CONSTRAINT [FK_Kartlar_Takımlar]
GO
ALTER TABLE [dbo].[Maclar]  WITH CHECK ADD  CONSTRAINT [FK__Maclar__HakemID__5441852A] FOREIGN KEY([HakemID])
REFERENCES [dbo].[Hakemler] ([HakemID])
GO
ALTER TABLE [dbo].[Maclar] CHECK CONSTRAINT [FK__Maclar__HakemID__5441852A]
GO
ALTER TABLE [dbo].[Maclar]  WITH CHECK ADD  CONSTRAINT [FK__Maclar__LigID__534D60F1] FOREIGN KEY([LigID])
REFERENCES [dbo].[Ligler] ([LigID])
GO
ALTER TABLE [dbo].[Maclar] CHECK CONSTRAINT [FK__Maclar__LigID__534D60F1]
GO
ALTER TABLE [dbo].[Maclar]  WITH CHECK ADD  CONSTRAINT [FK_Maclar_Deplasman] FOREIGN KEY([DeplasmanID])
REFERENCES [dbo].[Takımlar] ([TakimID])
GO
ALTER TABLE [dbo].[Maclar] CHECK CONSTRAINT [FK_Maclar_Deplasman]
GO
ALTER TABLE [dbo].[Maclar]  WITH CHECK ADD  CONSTRAINT [FK_Maclar_EvSahibi] FOREIGN KEY([EvSahibiID])
REFERENCES [dbo].[Takımlar] ([TakimID])
GO
ALTER TABLE [dbo].[Maclar] CHECK CONSTRAINT [FK_Maclar_EvSahibi]
GO
ALTER TABLE [dbo].[Oyuncular]  WITH CHECK ADD  CONSTRAINT [FK_Oyuncular_Ligler] FOREIGN KEY([LigID])
REFERENCES [dbo].[Ligler] ([LigID])
GO
ALTER TABLE [dbo].[Oyuncular] CHECK CONSTRAINT [FK_Oyuncular_Ligler]
GO
ALTER TABLE [dbo].[Sponsorlar]  WITH CHECK ADD  CONSTRAINT [FK__Sponsorla__Takim__6C190EBB] FOREIGN KEY([TakimID])
REFERENCES [dbo].[Takımlar] ([TakimID])
GO
ALTER TABLE [dbo].[Sponsorlar] CHECK CONSTRAINT [FK__Sponsorla__Takim__6C190EBB]
GO
ALTER TABLE [dbo].[Takımlar]  WITH CHECK ADD  CONSTRAINT [FK__Takımlar__LigID__3D5E1FD2] FOREIGN KEY([LigID])
REFERENCES [dbo].[Ligler] ([LigID])
GO
ALTER TABLE [dbo].[Takımlar] CHECK CONSTRAINT [FK__Takımlar__LigID__3D5E1FD2]
GO
ALTER TABLE [dbo].[TeknikDirektorler]  WITH CHECK ADD  CONSTRAINT [FK__TeknikDir__Takim__68487DD7] FOREIGN KEY([TakimID])
REFERENCES [dbo].[Takımlar] ([TakimID])
GO
ALTER TABLE [dbo].[TeknikDirektorler] CHECK CONSTRAINT [FK__TeknikDir__Takim__68487DD7]
GO
ALTER TABLE [dbo].[Goller]  WITH CHECK ADD  CONSTRAINT [CK__Goller__Dakika__571DF1D5] CHECK  (([Dakika]>=(1) AND [Dakika]<=(120)))
GO
ALTER TABLE [dbo].[Goller] CHECK CONSTRAINT [CK__Goller__Dakika__571DF1D5]
GO
ALTER TABLE [dbo].[Goller]  WITH CHECK ADD  CONSTRAINT [CK_Goller] CHECK  (([GolTuru]='Uzaktan Şut' OR [GolTuru]='Serbest Vuruş' OR [GolTuru]='Kafa' OR [GolTuru]='Normal'))
GO
ALTER TABLE [dbo].[Goller] CHECK CONSTRAINT [CK_Goller]
GO
ALTER TABLE [dbo].[Hakemler]  WITH CHECK ADD CHECK  (([DeneyimSuresi]>=(0)))
GO
ALTER TABLE [dbo].[Hakemler]  WITH CHECK ADD  CONSTRAINT [CK_Hakemler] CHECK  (([Cinsiyet]='K' OR [Cinsiyet]='E'))
GO
ALTER TABLE [dbo].[Hakemler] CHECK CONSTRAINT [CK_Hakemler]
GO
ALTER TABLE [dbo].[Izleyiciler]  WITH CHECK ADD  CONSTRAINT [CK_Izleyiciler] CHECK  (([Cinsiyet]='K' OR [Cinsiyet]='E'))
GO
ALTER TABLE [dbo].[Izleyiciler] CHECK CONSTRAINT [CK_Izleyiciler]
GO
ALTER TABLE [dbo].[Izleyiciler]  WITH CHECK ADD  CONSTRAINT [CK_Izleyiciler_1] CHECK  (([BiletTuru]='Premium' OR [BiletTuru]='VIP' OR [BiletTuru]='Standart'))
GO
ALTER TABLE [dbo].[Izleyiciler] CHECK CONSTRAINT [CK_Izleyiciler_1]
GO
ALTER TABLE [dbo].[Izleyiciler]  WITH CHECK ADD  CONSTRAINT [CK_Izleyiciler_2] CHECK  (([Ucret]>=(0)))
GO
ALTER TABLE [dbo].[Izleyiciler] CHECK CONSTRAINT [CK_Izleyiciler_2]
GO
ALTER TABLE [dbo].[Izleyiciler]  WITH CHECK ADD  CONSTRAINT [CK_Izleyiciler_3] CHECK  (([OdemeTuru]='Nakit' OR [OdemeTuru]='Banka Kartı' OR [OdemeTuru]='Kredi Kartı'))
GO
ALTER TABLE [dbo].[Izleyiciler] CHECK CONSTRAINT [CK_Izleyiciler_3]
GO
ALTER TABLE [dbo].[Izleyiciler]  WITH CHECK ADD  CONSTRAINT [CK_Izleyiciler_4] CHECK  (([TisortBeden]='XXL' OR [TisortBeden]='XL' OR [TisortBeden]='L' OR [TisortBeden]='M' OR [TisortBeden]='S'))
GO
ALTER TABLE [dbo].[Izleyiciler] CHECK CONSTRAINT [CK_Izleyiciler_4]
GO
ALTER TABLE [dbo].[Kartlar]  WITH CHECK ADD  CONSTRAINT [CK__Kartlar__Dakika__5EBF139D] CHECK  (([Dakika]>=(1) AND [Dakika]<=(120)))
GO
ALTER TABLE [dbo].[Kartlar] CHECK CONSTRAINT [CK__Kartlar__Dakika__5EBF139D]
GO
ALTER TABLE [dbo].[Kartlar]  WITH CHECK ADD  CONSTRAINT [CK__Kartlar__KartTur__5DCAEF64] CHECK  (([KartTuru]='Kırmızı' OR [KartTuru]='Sarı'))
GO
ALTER TABLE [dbo].[Kartlar] CHECK CONSTRAINT [CK__Kartlar__KartTur__5DCAEF64]
GO
ALTER TABLE [dbo].[Ligler]  WITH CHECK ADD CHECK  (([OdulHavuzu]>=(0)))
GO
ALTER TABLE [dbo].[Ligler]  WITH CHECK ADD CHECK  (([TakimSayisi]>(0)))
GO
ALTER TABLE [dbo].[Ligler]  WITH CHECK ADD  CONSTRAINT [CK_Ligler] CHECK  (([LigTipi]='Genç' OR [LigTipi]='Amatör' OR [LigTipi]='Yarı-Profesyonel' OR [LigTipi]='Profesyonel'))
GO
ALTER TABLE [dbo].[Ligler] CHECK CONSTRAINT [CK_Ligler]
GO
ALTER TABLE [dbo].[Maclar]  WITH CHECK ADD  CONSTRAINT [CK__Maclar__Deplasma__5070F446] CHECK  (([DeplasmanSkor]>=(0)))
GO
ALTER TABLE [dbo].[Maclar] CHECK CONSTRAINT [CK__Maclar__Deplasma__5070F446]
GO
ALTER TABLE [dbo].[Maclar]  WITH CHECK ADD  CONSTRAINT [CK__Maclar__EvSahibi__4E88ABD4] CHECK  (([EvSahibiSkor]>=(0)))
GO
ALTER TABLE [dbo].[Maclar] CHECK CONSTRAINT [CK__Maclar__EvSahibi__4E88ABD4]
GO
ALTER TABLE [dbo].[Oyuncular]  WITH CHECK ADD  CONSTRAINT [CK__Oyuncular__Forma__412EB0B6] CHECK  (([FormaNo]>=(1) AND [FormaNo]<=(99)))
GO
ALTER TABLE [dbo].[Oyuncular] CHECK CONSTRAINT [CK__Oyuncular__Forma__412EB0B6]
GO
ALTER TABLE [dbo].[Oyuncular]  WITH CHECK ADD  CONSTRAINT [CK__Oyuncular__Mevki__403A8C7D] CHECK  (([Mevki]='Forvet' OR [Mevki]='OrtaSaha' OR [Mevki]='Defans' OR [Mevki]='Kaleci'))
GO
ALTER TABLE [dbo].[Oyuncular] CHECK CONSTRAINT [CK__Oyuncular__Mevki__403A8C7D]
GO
ALTER TABLE [dbo].[Oyuncular]  WITH CHECK ADD  CONSTRAINT [CK_Oyuncular] CHECK  (([Cinsiyet]='K' OR [Cinsiyet]='E'))
GO
ALTER TABLE [dbo].[Oyuncular] CHECK CONSTRAINT [CK_Oyuncular]
GO
ALTER TABLE [dbo].[Sponsorlar]  WITH CHECK ADD  CONSTRAINT [CK__Sponsorla__Ucret__6B24EA82] CHECK  (([ToplamUcret]>(0)))
GO
ALTER TABLE [dbo].[Sponsorlar] CHECK CONSTRAINT [CK__Sponsorla__Ucret__6B24EA82]
GO
ALTER TABLE [dbo].[Sponsorlar]  WITH CHECK ADD  CONSTRAINT [CK_Sponsorlar] CHECK  (([SponsorStatu]='Düşük' OR [SponsorStatu]='Orta' OR [SponsorStatu]='Yüksek'))
GO
ALTER TABLE [dbo].[Sponsorlar] CHECK CONSTRAINT [CK_Sponsorlar]
GO
ALTER TABLE [dbo].[Takımlar]  WITH CHECK ADD  CONSTRAINT [CK__Takımlar__Kurulu__3C69FB99] CHECK  (([KurulusYili]>(1800)))
GO
ALTER TABLE [dbo].[Takımlar] CHECK CONSTRAINT [CK__Takımlar__Kurulu__3C69FB99]
GO
ALTER TABLE [dbo].[TeknikDirektorler]  WITH CHECK ADD  CONSTRAINT [CK__TeknikDir__Deney__6754599E] CHECK  (([DeneyimSuresi]>=(0)))
GO
ALTER TABLE [dbo].[TeknikDirektorler] CHECK CONSTRAINT [CK__TeknikDir__Deney__6754599E]
GO
ALTER TABLE [dbo].[TeknikDirektorler]  WITH CHECK ADD  CONSTRAINT [CK_TeknikDirektorler] CHECK  (([Cinsiyet]='K' OR [Cinsiyet]='E'))
GO
ALTER TABLE [dbo].[TeknikDirektorler] CHECK CONSTRAINT [CK_TeknikDirektorler]
GO
USE [master]
GO
